# ホワイトリスト制にする
#
# カレントディレクトリ以下にある, 全てのファイルを無視する
# ただの * では上手くいかない様子

/*

# 管理するファイル, フォルダ設定

!/.gitignore
!/ac-dict/
!/cache/
!/snippets/
!/elisp/
!/elpa/
!/init.el
!/readme.md

# さらにそこから無視するファイル, フォルダ設定

*.elc
